{% extends "base.html.twig" %}

{% block title %}
	Edit la Catégorie
{% endblock %}

{% block body %}
	<h1>Edit la Catégorie</h1>

	{{ form_start(formView, { 'attr': {'novalidate': 'novalidate'} } ) }}
	{{ form_errors(formView) }}
	{{ form_widget(formView) }}

	<button class="btn btn-primary" type="submit">
		<i class="fas fa-save"></i>
		Edit la Catégorie
	</button>
	{{ form_end(formView) }}
{% endblock %}